DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
SUPABASE_URL="http://127.0.0.1:54321"
JWT_SECRET="super-secret-jwt-token-with-at-least-32-characters-long"

# 这里这部署本地Supabase服务之后可以拿到的数据, 建议放在这里作为备份
API_URL=
GraphQL_URL=
S3_Storage_URL=
DB_URL=
STUDIO_URL=
INBUCKET_URL=
JWT_se_ret=
anon_key=
service_role_key=
S3_Access_Key=
S3_Secret_Key=
S3_Re_ion=local